{% extends 'base.html' %}
{% block contents %}
  <div>
    <h1>집사 체크리스트</h1>
  </div>
  <div>
    <div>
      <div>
        <div class="card-body">
            {% include 'to_do_list/errors.html' %}
          <form method="post">
            {% comment %} {{form.as_p}} {% endcomment %}
            {% csrf_token %}
            <div class="form-group">
                <label for="title">title</label>
                <input type="text" name="title" id="title" class="">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description"  rows="3" class=""></textarea>
            </div>
            <div class="form-group">
                <label for="important">Important</label>
                <input type="checkbox" name="important" id="important" class="">
            </div>
            <button type="submit" class="btn btn-primary">등록</button>
          </form>
        </div>
    </div>
    <div><a href="{% url 'todo_list' %}" class="btn btn-success">목록</a></div>
    </div>
  </div>
{% endblock contents %}