{% extends 'base.html' %}
{% block contents %}
  <div>
    <h1>ToDo 상세보기</h1>
  </div>
  <div>
    <div>
      <div>
        <div>
            {% include 'to_do_list/errors.html' %}
          <form method="post">
            {% comment %} {{form.as_p}} {% endcomment %}
            {% csrf_token %}
            <div>
                <label for="title">Title</label>
                <input type="text" name="title" id="title" placeholder="제목입력" class="form-control" value="{{form.title.value}}">
            </div>
            <div>
                <label for="description">Description</label>
                <textarea name="description" id="description"  rows="10" class="form-control">{{form.description.value}}</textarea>
            </div>
            <div>
                <label for="important">Important</label>
                {% if form.important.value %}
                  <input type="checkbox" name="important" id="important" class="form-check" checked>                
                {% else %}
                  <input type="checkbox" name="important" id="important" class="form-check">   
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">수정</button>
          </form>
        </div>
    </div>
    <div><a href="{% url 'todo_list' %}" class="btn btn-success">목록</a></div>
    </div>
  </div>
{% endblock contents %}