{% load static %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<nav class="navbar bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{% static 'img/logo.jpg' %}" alt="" style="object-fit: cover; width:80px">펫밀리</a>
    <div class="justify-content-end">
      <label class="switch theme-switch">
        <input type="checkbox" class="bsc"/>
        <span class="slider"></span>
      </label>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <a class="navbar-brand" href="/">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">펫밀리</h5>
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'board_index' %}">실종</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'find_index' %}">임시보호</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'todo_list' %}" disabled="disabled">집사훈련</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'maps' %}">집사정보</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'post_list' %}">자유게시판</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{user.name}}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="nav-link " href="{% url 'profile' %}">프로필 보기</a>
                </li>
                <li>
                  <a class="nav-link user-logout" href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
                  <a class="nav-link " href="{% url 'password_change' %}">비밀번호 변경</a>
                </li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link " href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'signup' %} ">회원 가입</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
{% block script %}{% endblock script %}
