{% extends 'base.html' %}
{% load static %}
{% block contents %}
<div class="container my-3">
    <section id="banner">
      <div class="inner">
        <form method="get" action="{% url 'find_index' %}">
          <div class="col-4">
            <select name="sort" id="sort">
              <option value="view_count" {% if sort == 'view_count' %} selected{% endif %}>조회수</option>
              <option value="comment_count" {% if sort == 'comment_count' %} selected{% endif %}>인기순</option>
              <option value="voter" {% if sort == 'voter' %} selected{% endif %}>추천수</option>
              <option value="created_at" {% if sort == 'created_at' %} selected{% endif %}>최신순</option>
            </select>
            <input class="btn btn-outline-secondary btn-sm" type="submit" value="정렬">
          </div>
        </div>
      </form>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="form-group my-3">
          <form class="form-inline my-2 my-lg-0" action="{% url 'find_search' %}" method="post">
            {% csrf_token %}
            <select class="selectpicker" name="search_kinds" id="search_kind">
              <option value="all" selected="selected">전체</option>
              <option value="title">제목</option>
              <option value="writer">작성자</option>
              <option value="content">내용</option>
              <option value="place">장소</option>
            </select>
            <input type="text" name="q" placeholder="Search" aria-label="Search" value="{{q}}">
            <input class="btn btn-outline-secondary btn-sm" type="submit" value="검색"/>
          </form>
        </div>
      </div>

      {% for care in list %}
        {% if forloop.counter0|divisibleby:3 %}
          <div class="row my-3">
          {% endif %}
          <div class="col-md-3" style='float:none; margin:0 auto;' id="">
            <div class="card" style="width: 18.9rem;">
              {% if care.image %}
                <img src="{{care.image.url}}" alt="" class="card-img-top">
              {% endif %}
              <div class="card-body"></div>
              <p class="card-text" style="font-weight: bold;">{{care.title}}
                  <span class="text-danger small mx-2">[{{care.findcomment_set.count}}]</span>
              </p>
              <p class="card-text">
                <small>
                  <i>장소:
                    {{care.place}}</i>
                </small>
              </p>
              <p class="card-text">
                <small>
                  <i>아이디:
                    {{user.username}}</i>
                </small>
              </p>
              <p class="card-text">
                <small>
                  <i>조회수:
                    {{care.view_count}}</i>
                </small>
              </p>
              <p class="card-text">
                <small>
                  <i>추천수:
                    {% if care.voter.count %}
                      <span class="badge bg-warning px-2 py-1">
                        {{care.voter.count}}</span>{% endif %}
                  </i>
                </small>
              </p>

              <p class="">
                <a href="{% url 'find_detail' care.pk %}" class="btn text-white" style="background-color: gray;">보러가기</a>
              </p>
            </div>
          </div>

          {% if forloop.counter0|add:"1"|divisibleby:3 %}
          </div>

        {% endif %}
      {% endfor %}

      <div class="mt-5 mb-5" >
        <a href="{% url 'find_write' %}" class="btn text-white" style="background-color: gray;">글쓰기</a>
      </div>
    </div>


    </section>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center mb-5">
        {% if list.has_previous %}
          <li class="page-item">
            <a class="page-link" href="#" data-page="{{list.previous_page_number}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        {% for page in list.paginator.page_range %}
          {% if page >= list.number|add:-5 and page <= list.number|add:5 %}
            <li class="page-item {% if page == list.number %}active{% endif %}">
              <a class="page-link" href="#" data-page="{{page}}">{{page}}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if list.has_next %}
          <li class="page-item">
            <a class="page-link" href="#" data-page="{{list.next_page_number}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
    </div>
    <form action="{% url 'find_index' %}" id='searchForm'>
      <input type="hidden" name='page' value="{{page|default_if_none:''}}" id='page'>
    </form>

  {% endblock contents %}
  {% block script %}
    <script>
      const pages = document.querySelectorAll('.page-link');
      pages.forEach((item, idx) => {
        item.addEventListener('click', (e) => {
          document
            .querySelector('#page')
            .value = e.target.dataset.page;
          searchForm.submit();
        })
      })
    </script>
  {% endblock script %}

