{% extends 'base.html' %}
{% load static %}
{% block contents %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock style %}

  <body>
    

 {% for care in list %}
 {% if forloop.counter0|divisibleby:3 %}
  <div class="row my-3" >
    {% endif %}
    <div class="col-md-3" style='float:none; margin:0 auto;' id="">
      <div class="card" style="width: 18rem;">
        <img src="{{care.image.url}}" alt="" class="mx-auto d-block"  style="height: 275px">
        {% comment %} <img src="{{care.image_thumbnail.url}}" alt="" class="mx-auto d-block">  {% endcomment %}
        <div class="card-body">
        </div>
          <h5 class="card-title">{{care.title}}</h5>
          <p class="card-text">{{care.place}}</p>
          <p class="card-text"><small><i>{{care.created_at}}</i></small></p>
          <p class=""><a href="{% url 'board_detail' care.pk %}" class="btn text-white" style="background-color: gray;">보러가기</a></p>
      </div>
    </div>
    {% if forloop.counter0|add:"1"|divisibleby:3 %}
  </div>
  {% endif %}
  {% endfor %} 

     
    <div class="row">
      <div class="col-sm-12 text-center">
          <div class="pagination">
              <span class="step-links text-center" style="width:100%;">
                  {% if list.has_previous %}
                      <a href="?page=1">&laquo;</a>
                      <a href="?page={{ list.previous_page_number }}">{{ list.previous_page_number }}</a>
                  {% endif %}

                  <span class="current">
                      {{ list.number }}
                  </span>

                  {% if list.has_next %}
                      <a href="?page={{ list.next_page_number }}">{{ list.next_page_number }}</a>
                      <a href="?page={{ list.paginator.num_pages }}">&raquo;</a>
                      {% endif %}
                  </span>
              </div>
          </div>
      </div>
  </div>
  
        </body> 

      {% endblock contents %}
